<div class="h-full w-full flex flex-col items-center pt-10">
  <h1 class="text-2xl mb-10">Usuários:</h1>

  <ngx-charts-line-chart
    [view]="view"
    [legend]="legend"
    legendTitle="Legenda"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="multi"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-line-chart>
</div>
