/* Wrapper do conteudo exibido na view administrativa */
.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

/* Card que envolve tabela e criar/pesquisar */
.tableCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 7px 0 #00000047;
}

/* Campo pesquisa nas tabelas */
.searchWrapper input {
  border: none;
  width: 200px;
  background-color: rgba(206, 206, 206, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
  padding-right: 30px;
  font-size: 15px;
  height: 100%;
}
.searchWrapper input:focus-visible {
  outline-color: rgba(98, 158, 255, 0.644);
}
.searchWrapper i {
  font-size: 20px;
}

/* Botão para criar no CRUD */
.buttonCriar {
  background-color: rgb(108, 200, 108);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.buttonCriar p {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.85rem;
}
.buttonCriar i {
  font-size: 16px;
}
.exportar {
  background-color: rgb(255, 165, 62);
}
