<div class="contentWrapper">
  <div class="tableCard">
    <div class="flex justify-between gap-5">
      <div>
        <button class="buttonCriar exportar drop-shadow">
          <p><i class="las la-file"></i>EXPORTAR</p>
        </button>
      </div>
      <div class="flex items-center searchWrapper">
        <input
          type="text"
          name="search"
          placeholder="Buscar..."
          (keydown)="filter($event)"
        />
        <i class="las la-search -ml-7 text-gray-400"></i>
      </div>
      <div>
        <button class="buttonCriar drop-shadow">
          <p><i class="las la-plus"></i>CRIAR USUÁRIO</p>
        </button>
      </div>
    </div>
    <div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nome + " " + element.sobrenome }}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="criado_em">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Criado em</th>
          <td mat-cell *matCellDef="let element">{{ element.criado_em }}</td>
        </ng-container>

        <ng-container>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">
              Nenhum item foi encontrado...
            </td>
          </tr>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
