<div class="w-full h-14 flex items-center">
  <ul class="w-full pt-6 px-10 flex items-center justify-between">
    <li>
      <h1 class="text-xl">Inicio</h1>
    </li>
    <li class="flex items-center gap-3">
      <div
        class="flex items-center justify-center rounded-full bg-blue-200 w-10 h-10 drop-shadow"
      >
        GF
      </div>
      <p>Minha conta</p>
      <button
        (click)="logout()"
        title="Sair da conta"
        class="ml-5 flex items-center justify-center rounded bg-red-400 shadow-md h-8 w-8"
      >
        <i class="text-md las la-power-off text-white"></i>
      </button>
    </li>
  </ul>
</div>
