<nav
  class="w-[250px] h-full min-w-[230px] shadow-2xl border-[1px] border-opacity-20 border-black bg-white"
>
  <ul class="pt-3 flex flex-col gap-3 h-14">
    <li class="flex justify-center items-end">
      <img src="../../../assets/imgs/planta.png" width="42" height="36" />
      <h1 class="pl-3 m-0 text-lg font-medium">PLANTASSOS</h1>
    </li>
  </ul>
  <hr class="w-11/12 m-auto mt-3" />

  <ul class="pt-5 flex flex-col gap-5 pl-8">
    <li class="flex items-end !text-blue-600">
      <i class="las la-home mr-3"></i>
      <p class="!m-0 text-xs text-blue-600">INÍCIO</p>
    </li>
    <li class="flex items-end">
      <i class="las la-chart-area mr-3"></i>
      <p class="!m-0 text-xs">DASHBOARD</p>
    </li>
    <li class="flex items-end">
      <i class="las la-file-pdf mr-3"></i>
      <p class="!m-0 text-xs">RELATÓRIO</p>
    </li>
  </ul>
</nav>
