<nav
  style="background: linear-gradient(135deg, #232526 0%, #414345 100%)"
  class="w-[250px] h-full min-w-[230px] shadow-2xl border-[1px] border-opacity-20 border-black text-zinc-200"
>
  <ul class="pt-3 flex flex-col gap-3 h-14">
    <li class="flex justify-center items-end hover:text-xl">
      <img src="../../../assets/imgs/planta.png" width="42" height="36" />
      <h1 class="pl-1 m-0 text-lg font-medium">PLANTASSOS</h1>
    </li>
  </ul>
  <hr class="w-11/12 m-auto mt-3 border-gray-500" />

  <ul class="pt-5 flex flex-col gap-5 pl-8">
    <a routerLink="/inicio">
      <li #navItem class="flex items-end" id="inicio">
        <i class="las la-home mr-3"></i>
        <p class="!m-0 text-xs">INÍCIO</p>
      </li>
    </a>
    <a routerLink="/dashboard">
      <li #navItem class="flex items-end" id="dashboard">
        <i class="las la-chart-area mr-3"></i>
        <p class="!m-0 text-xs">DASHBOARD</p>
      </li>
    </a>
    <a routerLink="/usuarios">
      <li #navItem class="flex items-end" id="usuarios">
        <i class="las la-user mr-3"></i>
        <p class="!m-0 text-xs">USUÁRIOS</p>
      </li>
    </a>

    <li #navItem class="flex items-end" id="relatorio">
      <i class="las la-file-pdf mr-3"></i>
      <p class="!m-0 text-xs">RELATÓRIO</p>
    </li>
  </ul>
</nav>
