@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "../src/styles/overrides.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
